@inherits LayoutComponentBase

<div class="">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="mb-4">
            <h2 class="p-4 text-2xl bg-purple-400 text-white">Dynamic Dashboard Demo</h2>
        </div>

        <article class="">
            @Body
        </article>
    </main>
</div>
