@inherits LayoutComponentBase

<div class="">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="mb-4 bg-purple-400 px-4 md:px-2">
            <h2 class="p-4 text-2xl text-white">Dynamic Dashboard Demo</h2>
        </div>

        <article class="p-4 md:p-2">
            @Body
        </article>
    </main>
</div>
